[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=1.0
Name=Adventure
Comment=Abandoned Farmhouse Adventure Game
Exec=lxterminal -t Adventure -e afadv
Icon=/usr/share/icons/hicolor/32x32/afadv.png
Terminal=false
Categories=Application;Games;
